:root {
  --fifteen: #000;
  --fourteen: #101010;
  --thirteen: #202020;
  --twelve: #303030;
  --eleven: #505050;
  --ten: #696969;
  --nine: #888;
  --eight: #a0a0a0;
  --seven: #b0b0b0;
  --six: #bebebe;
  --five: #c8c8c8;
  --four: #d3d3d3;
  --three: #dcdcdc;
  --two: #e8e8e8;
  --one: #f5f5f5;
  --zero: #fff;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.125rem;
}

body {
  font-family: 'Elena', sans-serif;
  background-color: var(--zero);
  margin-left: 2px;
}

/* default */

a {
  text-decoration: none;
  color: inherit;
}

/* reuse */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.center {
  margin: 0 auto;
}

.box-animate {
  transform: rotateZ(-13deg);
  transform-origin: 0 80px;
  box-shadow: 0.1rem 1rem 8em 0.1em rgba(225, 225, 225, 0.6);
  background-color: var(--fifteen);
  border-radius: 7px;
  border: 5px solid var(--zero);
}

.box-animate:hover {
  transform: rotate(0);
  box-shadow: 0.1rem 1rem 8em 0.1em rgba(225, 225, 225, 0.2);
}

.container-padding {
  padding: 3rem 3.5rem;
}

/*
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
*/

/* styles */

.container {
  display: grid;
}

/* nav */
nav {
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: var(--ten);
  position: relative;
}

.logo-box {
  width: 15%;
  height: 3.2rem;
  background-color: var(--two);
  transform: translateX(2.125rem);
}

.nav-links {
  width: 45%;
  height: 55%;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links-element {
  width: 10%;
  height: 1.5rem;
  background-color: var(--nine);
}

.search {
  width: 30%;
  height: 3rem;
  background-color: var(--seven);
  transform: translateX(-2.125rem);
  border-radius: 5px;
}

/* latest-articles */

.latest-articles {
  grid-template-rows: 10% 90%;
  grid-template-columns: repeat(2, 1fr);
  height: 167vh;
  grid-template-areas:
    'top top'
    'main main';

  /* height: 37.500vw; */
}

.latest-articles-top {
  grid-area: top;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right';
  background-color: var(--twelve);
}

.section-title {
  grid-area: left;
  width: 30.594vw;
  height: 7.594vw;
  background-color: var(--zero);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 50%,
    70% 50%,
    70% 100%,
    30% 100%,
    30% 50%,
    0 50%
  );
}

.switch-colors {
  grid-area: right;
  background-color: rgb(90, 90, 90);
}

.latest-articles .main {
  grid-area: main;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'one two'
    'three four';
}

.article-latest {
  /* grid-row: 4 / 10;
/*    padding: 3rem 3.5rem; */

  /* border: 0.01px solid blue; */
  background-color: var(--thirteen);
  border-bottom: 0.4px solid var(--ten);
}

.card-wrapper {
  margin: 5% auto;
  width: 90%;
  height: 90%;

  /* border: 0.5px solid tomato; */
  grid-template-areas:
    '.'
    'ctop'
    '.'
    'heading'
    'heading'
    'hashtags'
    'arrow'
    'arrow'
    '.';
}

.card-top {
  grid-area: ctop;
  transform: translateX(3.1rem);
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.author-img {
  width: 90px;
  height: 90px;
}

.author-name {
  width: 60%;
  height: 40px;
  margin-right: 40px;
  background-color: var(--three);
}

.heading {
  grid-area: heading;
  color: var(--zero);
  font-family: 'MijaW03', sans-serif;
  font-weight: bold;
  font-size: 3.312vw;
  width: 80%;
  height: 65%;
}

.hash-tags {
  grid-area: hashtags;
  background-color: var(--three);
  width: 65%;
  height: 50%;
  transform: translateX(3.1rem);
}

.card-arrow {
  grid-area: arrow;
  position: relative;
}

.card-arrow div {
  position: absolute;
  top: 75%;
  left: 10%;
  font-size: 30px;
  color: white;
}

#card1 {
  grid-area: one;
  border-right: 0.4px solid var(--ten);
  background-color: var(--twelve);
}

#card2 {
  grid-area: two;
  background-color: rgb(90, 90, 90);
}

#card3 {
  grid-area: three;
  border-right: 0.4px solid var(--ten);
}

#card4 {
  grid-area: four;
  background-color: rgb(120, 120, 120);
}

.cards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    'card1 card2 card3'
    'members members card4'
    'card5 card6 card7';
  grid-gap: 10px;
}

.cards-article {
  background-color: var(--two);
  padding: 1rem;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.card7 {
  grid-area: card7;
}

.members {
  grid-area: members;
}

.publication-date {
  width: 20%;
  height: 0.8rem;
  background-color: var(--eight);
}

.cards-article-title {
  width: 90%;
  height: 4rem;
  background-color: var(--fourteen);
  margin: 1.5rem 0;
}

.cards-article-author {
  width: 40%;
  height: 1.2rem;
  background-color: var(--thirteen);
}

.cards-article-content {
  margin: 3rem 0;
}

.cards-article-content p {
  width: 80%;
  height: 0.6rem;
  margin: 0.2rem 0;
  background-color: var(--ten);
}

.cards-article-arrow {
  width: 20%;
  height: 0.3rem;
  background-color: var(--five);
}

.smashing-members {
  background-color: var(--thirteen);
  padding: 1rem;
}

.smashing-image {
  width: 20%;
  height: 6rem;
  margin: 3rem auto;
  background-color: var(--zero);
}

.smashing-title {
  width: 65%;
  height: 2rem;
  margin: 3rem auto;
  background-color: var(--one);
}

.smashing-content p {
  width: 80%;
  height: 0.3rem;
  margin: 0.3rem auto;
  background-color: var(--eight);
}

.smashing-content .p-two {
  width: 95%;
}

.smashing-content .p-three {
  width: 35%;
}

.smashing-button {
  width: 15%;
  height: 2rem;
  margin: 2rem auto;
  background-color: var(--two);
  border-radius: 6px;
}

.smashing-signin {
  width: 45%;
  height: 1rem;
  margin: 2rem auto;
  background-color: var(--ten);
}

.new-on-smashing-tv {
  background-color: var(--thirteen);
  width: 90%;
  margin: 1rem auto;
  border-radius: 6px;
}

/* smashing-guides */
.smashing-guides .top-wrap{
  border: 1px solid blue;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "c1 c2"
  "c3 news-l";
  margin-left: 30px;
}
.smashing-guides .card {
  height: 35.469vw;
  background-color: var(--one);
}
#c1 {
  grid-area: c1;
}
#c2 {
  grid-area: c2;
}
#c3 {
  grid-area: c3;
}
.smashing-guides .top-wrap .newsletter {
  grid-area: news-l;
  border: 1px solid green;
  height: 35.469vw;
  max-width: 40vw;
}

.smashing-guides .top-wrap .card .wrap {
  background-color: var(--zero);
  border-radius: 15px;
  border: 0.3px solid var(--two);
  width: 91%;
  height: 99%;
  grid-template-areas: 
  "."
  "head"
  "contentt"
  "explore-more";
}
.smashing-guides .top-wrap .card .wrap h1 {
  grid-area: head;
}

.smashing-guides .top-wrap .card .wrap p {
  grid-area: contentt;
}
.smashing-guides .top-wrap .card .wrap a {
  grid-area: explore-more;
}
.redirection-links {
  height: 10rem;

  /* background-color: var(--one); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirection-links p {
  width: 20%;
  height: 1.5rem;
  background-color: var(--seven);
}

.book-style-top {
  background-color: var(--twelve);
  padding: 4rem;
}

.book-style-ship-now-top {
  width: 30%;
  height: 1.5rem;
  margin: 0 auto;
  background-color: var(--ten);
}

.book-style-title-top {
  width: 65%;
  height: 5rem;
  margin: 3rem auto;
  background-color: var(--two);
}

.book-style-content-top p {
  width: 58%;
  height: 0.8rem;
  margin: 0.5rem auto;
  background-color: var(--eight);
}

.book-style-button-top {
  width: 20%;
  height: 3.5rem;
  margin: 3rem auto;
  background-color: var(--four);
  border-radius: 6px;
}

.book-style-image-top {
  width: 35rem;
  height: 30rem;
  margin: 3rem auto;
  background-color: var(--seven);
  /* border-radius: 50%; */
  clip-path: polygon(
    100% 95%,
    100% 14%,
    1% 4%,
    53% 12%,
    43% 14%,
    43% 19%,
    45% 23%,
    45% 26%,
    42% 27%,
    43% 29%,
    45% 30%,
    45% 31%,
    45% 34%,
    43% 36%,
    40% 36%,
    38% 38%,
    38% 40%,
    38% 42%,
    37% 44%,
    35% 42%,
    33% 39%,
    30% 35%,
    26% 31%,
    24% 28%,
    21% 26%,
    18% 24%,
    15% 25%,
    13% 26%,
    12% 27%,
    10% 28%,
    9% 30%,
    8% 32%,
    8% 34%,
    10% 38%,
    11% 40%,
    14% 43%,
    15% 45%,
    15% 47%,
    14% 50%,
    13% 51%,
    11% 53%,
    9% 55%,
    7% 57%,
    6% 59%,
    4% 62%,
    3% 64%,
    3% 66%,
    4% 69%,
    6% 71%,
    9% 73%,
    10% 76%,
    12% 78%,
    14% 79%,
    17% 81%,
    20% 83%,
    23% 84%,
    25% 86%,
    27% 88%,
    29% 92%,
    34% 90%,
    38% 88%,
    41% 87%,
    43% 88%,
    46% 90%,
    51% 92%,
    57% 92%,
    63% 91%,
    67% 89%,
    71% 86%,
    74% 83%,
    76% 81%,
    77% 78%,
    80% 78%,
    82% 82%,
    88% 87%,
    93% 93%
  );
}
